.product__grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;

  grid-template-areas:
    "pimage"
    "title"
    "description"
    "buy";

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "title title"
      "pimage description"
      "buy buy";
  }

  &-title {
    grid-area: title;
  }
  &-description {
    grid-area: description;
  }
  &-image {
    grid-area: pimage;
  }
  &-buy {
    grid-area: buy;
  }
}

.price__panel {
  width: 100%;
  border: 1px solid var(--secondary);
  padding: 0.5rem 0.5rem 0;

  .block {
    display: block;
  }

  .form {
    margin-bottom: 0;;
    label {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      select {
        margin-top: 0;
      }

      > * {
        align-self: center;
        flex: 1;
      }
    }
  }

  &-highlight {
      border-width: 4px;
  }
}
