.btn {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: white;
  text-align: center;

  &--primary {
    border-color: var(--primary);

    &:hover, &:focus {
      background-color: var(--primary);
      color: white;
    }
  }

  &--secondary {
    border: none;
  }
}
